<!DOCTYPE html>
<html
        lagn="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- 공통의 사용 라이브러리 및 헤더, 푸터 -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/header_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/common/footer_style.css}">
    <!-- /공통의 사용 라이브러리 및 헤더, 푸터 -->
</head>

<div th:replace="fragment/header :: heaferFragment"></div>

<div layout:fragment="main_content"></div>

<div th:replace="fragment/footer :: footerFragment"></div>

</html>