.main-content {
    margin-top: 10px;
}

.first-content{
    display: flex;
    justify-content:center;
}

.first-content-title {
    margin-bottom: 20px;
}

.imagePreview{
    height: 700px;
    border: black 2px solid;
    display: flex;
    justify-content:center;
    align-items:center;
}

.image_input_content {
    margin-top: 20px;
}

.label {
    font-size: 22px;
}

.analysis-btn {
    padding: 7px 0 7px 0;
    font-size: 20px;
}

#imageSubmit{
    margin-top: 50px;
}