html {
    position: relative;
    min-height: 100%;
    margin: 0;
}

body {
    min-height: 100%;
}

.main_div{
    display: flex;
    justify-content:center;
    align-items:center;
}

.login-content {
    margin-top: 30px;
    display: flex;
    justify-content:center;
}

.login-div{
    display: flex;
    justify-content:center;
}

.first-content {
    display: inline-block;
    //text-align: center;
}

.login-form {
    width: 50%;
    align-items: center;
}

.login-id-div {

}

.login-pw-div {

}