.first-content{
    display: flex;
    justify-content:center;
}

.imagePreview{
    height: 500px;
    border: black 1px solid;
    display: flex;
    justify-content:center;
    align-items:center;
    position: relative;
}

.result_json{
    height: 500px;
    border: black 1px solid;
    overflow: scroll;
}

.title_json{
    text-align: center;
}



.download_content{
    display: flex;
    justify-content:center;
    text-align: center;
    margin-top: 20px;
}
