.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    background-color: grey;
}

.footer-copyright-div {
    text-align: left;
}

.footer-license {
    color: black;
}

.footer-social-div {
    text-align: right;
}

.footer-icon {
    color: black;
}
