<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/demo_layout"
>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page_css/demo_content.css}">
    <script
            src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
            crossorigin="anonymous"></script>
    <script th:src="@{/javascript/demo_page_js/demo_script.js}"></script>
</head>

<div layout:fragment="demo_content">
    <!-- main 시작 -->
    <section class="main-content">
        <div class="container first-content">
            <!-- Content here -->
            <div class="first-content-title-div">
                <h1 class="first-content-title">이미지 감정 분석</h1>
            </div>
        </div>
    </section>
    <section class="image_content">
        <div class="container">
            <div class="imagePreview">
                <img id="image_view" src="">
            </div>
        </div>
    </section>
    <section class="image_input_content">
        <form id="image_up" action="/demo/analysis" method="post" enctype="multipart/form-data" accept-charset="UTF-8">
        <div class="container">
            <div>
                <label for="formFileLg" class="form-label label">input image</label>
                <input class="form-control form-control-lg" id="formFileLg" type="file" accept="image/*" name="file">
            </div>
            <div id="imageSubmit" class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary analysis-btn" >분석 요청</button>
            </div>
        </div>
        </form>
    </section>
    <!-- /.main 끝 -->
</div>
</html>