<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/join_layout"
>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page_css/join_content.css}">
</head>

<div layout:fragment="join_content">
    <!-- main 시작 -->
    <section class="login-content">
        <div class="container first-content">
            <!-- Content here -->
            <div>
                <form action="/join" th:object="${memberForm}" method="post">
                    <div class="mb-3">
                        <label for="inputEmail" class="form-label">Email Address</label>
                        <input type="email" th:field="*{memberId}" class="form-control" id="inputEmail" aria-describedby="emailHelper"
                               th:class="${#fields.hasErrors('memberId')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">Incorrect date</p>
                        <div id="emailHelper" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="inputPassword">Password</label>
                        <input type="password" th:field="*{memberPw}" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock"
                               th:class="${#fields.hasErrors('memberPw')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}">Incorrect date</p>>
                        <small id="passwordHelpBlock" class="form-text text-muted">
                            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
                        </small>
                    </div>
                    <div class="mb-3">
                        <label for="inputName" class="form-label">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="inputName"
                               th:class="${#fields.hasErrors('name')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Incorrect date</p>>
                    </div>
                    <div class="mb-3">
                        <label for="inputNickName" class="form-label">Nick Name</label>
                        <input type="text" th:field="*{nickname}" class="form-control" id="inputNickName"
                               th:class="${#fields.hasErrors('nickname')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Incorrect date</p>>
                    </div>
                    <div class="mb-3">
                        <label for="inputTelephone" class="form-label">Telephone</label>
                        <input type="tel" th:field="*{telNumber}" class="form-control" id="inputTelephone"
                               pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" placeholder="010-1234-5678"
                               th:class="${#fields.hasErrors('telNumber')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('telNumber')}" th:errors="*{telNumber}">Incorrect date</p>>
                    </div>
                    <div class="mb-3">
                        <label for="inputAddress" class="form-label">Address</label>
                        <input type="text" th:field="*{address}" class="form-control" id="inputAddress" placeholder="서울특별시 강남구 ~~~">
                    </div>
                    <button type="submit" class="btn btn-primary">회원가입</button>
                </form>
            </div>
        </div>
    </section>
    <!-- /.main 끝 -->
</div>


</html>