<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/login_layout"
>

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page_css/login_content.css}">
</head>

<div class="main-div" layout:fragment="login_content">
    <!-- main 시작 -->
    <section class="login-content">
        <div class="container first-content">
            <!-- Content here -->
            <div class="login-div">
                <form class="login-form" action="/login" th:object="${loginForm}" method="post">
                    <div class="login-id-div mb-3">
                        <label for="memberEmail" class="form-label">Email Address</label>
                        <input type="email" th:field="*{memberId}" class="form-control" id="memberEmail"
                               aria-describedby="emailHelper"
                               th:class="${#fields.hasErrors('memberId')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('memberId')}" th:errors="*{memberId}">Incorrect date</p>
                        <div id="emailHelper" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="login-pw-div mb-3">
                        <label for="memberPw" class="form-label">Password</label>
                        <input type="password" th:field="*{memberPw}" class="form-control" id="memberPw"
                               aria-describedby="passwordHelpBlock"
                               th:class="${#fields.hasErrors('memberPw')}? 'form-controlfieldError' : 'form-control'">
                        <p th:if="${#fields.hasErrors('memberPw')}" th:errors="*{memberPw}">Incorrect date</p>
                    </div>
                    <button type="submit" class="btn btn-primary">로그인</button>
                </form>
            </div>
        </div>
    </section>
    <!-- /.main 끝 -->
</div>


</html>