<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorator="layout/main_layout"
        th:with="metaTitle='A.I.M'">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_page_css/main_content.css}">
</head>

<div layout:fragment="content">
    <!-- main 시작 -->
    <section class="main-content-1">
        <div class="container">
            <!-- Content here -->
            <section class="first-content">
                <div>
                    <div class="first-content-title-div">
                        <h1 class="first-content-title">개요</h1>
                    </div>
                    <div class="first-content-info-div">
                        <p class="first-content-info">개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요
                            내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용개요 내용</p>
                    </div>
            </section>
        </div>
    </section>
    <section class="main-content-2">
        <div class="container">
            <!-- Content here -->
            <section class="second-content">
                <div class="row">
                    <div class="col-sm second-content-info-1">
                        <i class="fab fa-chrome fa-7x"></i>
                        <ul class="function-li-1">
                            <li>기능1</li>
                            <li>기능1</li>
                            <li>기능1</li>
                        </ul>
                    </div>
                    <div class="col-sm second-content-info-2">
                        <i class="fas fa-sitemap fa-7x"></i>
                        <ul class="function-li-2">
                            <li>기능1</li>
                            <li>기능1</li>
                            <li>기능1</li>
                        </ul>
                    </div>
                    <div class="col-sm second-content-info-3">
                        <i class="fab fa-mixcloud fa-7x"></i>
                        <ul class="function-li-3">
                            <li>기능1</li>
                            <li>기능1</li>
                            <li>기능1</li>
                        </ul>
                    </div>
                    <div class="col-sm second-content-info-4">
                        <i class="fab fa-chrome fa-7x"></i>
                        <ul class="function-li-4">
                            <li>기능1</li>
                            <li>기능1</li>
                            <li>기능1</li>
                        </ul>
                    </div>
            </section>
        </div>
    </section>
    <!-- /.main 끝 -->
</div>


</html>