<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="layout/main_layout"
        >

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/page_css/main_content.css}">
</head>

<div layout:fragment="main_content">
    <!-- main 시작 -->
    <section class="main-content-1">
        <div class="container first-content">
            <!-- Content here -->
            <div>
                <div class="first-content-title-div">
                    <h1 class="first-content-title">개요</h1>
                </div>
                <div class="first-content-info-div">
                    <p class="first-content-info">해당 페이지는 AIM에서 개발한 감정 분석기를 체험해 볼 수 있는 사이트입니다. 감정 분석기는 VGG-16 기반이며 6가지 감정을 분류합니다.<br>
                        감정 분석은 얼굴 감지 -> 감정 인식 2단계로 구성되어 분석에 다소 시간이 소요될 수 있습니다(최대 15초).<br>
                        ※ 얼굴 감지 : 이미지의 각 얼굴에 대한 27개의 랜드마크를 비롯하여 하나 이상의 사람 얼굴을 감지할 수 있습니다.<br>
                        ※ 감정 인식 : 분노, 경멸, 공포, 행복, 무표정, 슬픔, 놀람 6가지 감정을 인지할 수 있습니다. 표정만이 사람의 내적인 상태를 나타내지는 않는다는 점에 유의해야 합니다.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="main-content-2">
        <div class="container">
            <!-- Content here -->
            <section class="second-content">
                <div class="row">
                    <div class="col-sm second-content-info-1">
                        <ul class="function-li-1">
                            <li><i class="far fa-user-circle fa-7x"></i></li>
                            <li class="list-text-line">고급 얼굴 인식</li>
                        </ul>
                    </div>
                    <div class="col-sm second-content-info-2">
                        <ul class="function-li-2">
                            <li><i class="fas fa-sitemap fa-7x"></i></li>
                            <li class="list-text-line">무료 감정 분석기</li>
                        </ul>
                    </div>
                    <div class="col-sm second-content-info-3">
                        <ul class="function-li-3">
                            <li><i class="fab fa-mixcloud fa-7x"></i></li>
                            <li class="list-text-line">사용하기 쉬움</li>
                        </ul>
                    </div>
                    <div class="col-sm second-content-info-4">
                        <ul class="function-li-4">
                            <li><i class="fas fa-history fa-7x"></i></li>
                            <li class="list-text-line">분석 기록 확인</li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <!-- /.main 끝 -->
</div>


</html>